<div class="">
<form name='userForm' ng-submit="$ctrl.postLogin()">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Login</span>
    <input name="login"
           ng-model="$ctrl.login"
           ng-minlength="2"
           ng-maxlength="30"
           required
           type="text"
           class="form-control"
           placeholder="Username"
           aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">PASSWORD</span>
    <input ng-minlength="1" ng-model="$ctrl.senha" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
  </div>
  <br>
  <div ng-messages="userForm.emailAddress.$error">
      <div class='alert alert-danger' ng-message="required">
        Você deve entrar com seu login
      </div>
      <div class='alert alert-danger' ng-message="minlength">
        Seu login está muito pequeno
      </div>
      <div class='alert alert-danger' ng-message="maxlength">
        Seu login está muito grande
      </div>
      <div class='alert alert-danger' ng-message="text">
        Você não entrou com seu login corretamente
      </div>
  </div>
  <button class='btn btn-primary' type='submit'> LOGAR </button>
</form>
</div>
