<div class="panel panel-default">
  <div class="panel-heading">Nome: {{conta.nome}}</div>
  <ul class="list-group">
    <li class="list-group-item">Descrição: {{conta.descricao}}</li>
    <li class="list-group-item">Receita: {{conta.receita}}</li>
    <li class="list-group-item">Categoria: {{conta.categoria}}</li>
    <li class="list-group-item">Repetições: {{conta.repeticoes}}</li>
    <li class="list-group-item">Repetitividade: {{conta.repetitividade}}</li>
  </ul>
  <div class="panel-body">
    Valor: {{conta.valor}}
  </div>
</div>
